* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* body {
  font-family: Arial, sans-serif;
  background-color: #d5dfff;
  margin: 0;
  height: 100vh;
  width: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
}
* body .container {
  display: flex;
  height: 100%;
  background-color: #1B264F;
  width: 80%;
  margin: 100px auto;
  border-radius: 50px;
  padding: 50px 0;
}
* body .container .content {
  max-width: 500px;
  width: 100%;
  background-color: #162c7c;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: auto;
  color: #fff;
}
* body .container .content h1 {
  text-align: center;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 30px;
}
* body .container .content .containerInputDividido {
  justify-content: space-between;
  display: flex;
}
* body .container .content .contentInputMetade {
  width: 45%;
}
* body .container .content .contentInputMetade .inputFlex input {
  width: 50%;
}
* body .container .content .contentInputMetade .inputFlex span {
  width: 50%;
}
* body .container .content label {
  font-weight: bold;
  margin-top: 10px;
  font-size: 14px;
  display: block;
}
* body .container .content .inputFlex {
  display: flex;
  margin-bottom: 20px;
}
* body .container .content .inputFlex #valueVencimento {
  background-color: transparent;
  border: none;
  padding: 0px;
  border: none;
  color: #fff;
}
* body .container .content .inputFlex #valueVencimento:focus {
  color: #777777;
}
* body .container .content .inputFlex input {
  background-color: #162c7c;
  width: 100%;
  padding: 8px;
  padding-bottom: 4px;
  padding-top: 13px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
  color: #ffffff;
}
* body .container .content .inputFlex input:focus {
  color: #ffffff;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border: none;
  border-bottom: 1px solid #ccc;
}
* body .container .content .inputFlex span {
  padding: 14.5px 0 4px;
  border-bottom: 1px solid #ccc;
  height: -moz-fit-content;
  height: fit-content;
  width: 25%;
  text-align: right;
}
* body .container .content .boxButton {
  width: 100%;
  margin: 20px auto;
}
* body .container .content .boxButton button {
  box-shadow: 20px 20px 60px -15px rgba(0, 0, 0, 0.75);
  width: 100%;
  padding: 10px;
  background-color: #357DED;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}
* body .container .content .boxButton button:hover {
  background-color: #205ab6;
}
* body .content .result {
  padding: 10px;
  border-radius: 4px;
  margin-top: 15px;
}
* body .content .result .card {
  box-shadow: 10px 15px 36px -4px rgba(0, 0, 0, 0.75);
  opacity: 0;
  color: #1B264F;
  background-color: #fff;
  border: 5px solid #357DED;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  animation: boxAnimation 2s ease forwards;
  transform: translateX(250px);
  transition: opacity 2s ease, transform 2s ease;
  /* Para cada card, adicione um delay crescente */
}
* body .content .result .card:nth-child(1) {
  animation-delay: 0s;
}
* body .content .result .card:nth-child(2) {
  animation-delay: 0.3s;
}
* body .content .result .card:nth-child(3) {
  animation-delay: 0.6s;
}
* body .content .result .card .cardHeader {
  border: none;
  padding: 0;
}
* body .content .result .card .cardHeader button {
  border-radius: 20px;
  background-color: #fff;
  border-color: #fff;
  box-shadow: none;
  padding: 0;
}
* body .content .result .card .cardHeader button h3 {
  font-size: 20px;
  margin: 0;
  font-weight: 800;
}
* body .content .result .card .cardBody {
  padding: 30px 0 10px;
}
* body .content .result .card .sectionValueLiquid {
  margin: 0px 20px;
}
* body .content .result .card p {
  margin: 0px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
}
* body .content .result .card p span {
  font-weight: 800;
}
* body .content .result .card .textTotalLiquido {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 800;
  width: 100%;
  margin-bottom: 0px;
  margin-top: 10px;
}
* body .content .result .card .textValorTotalLiquido {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 6px 10px;
  font-weight: 800;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}
* body .content .result .card.visible {
  opacity: 1;
  transform: translateX(0);
}
* body .content .result .best {
  color: #1B264F;
  background-color: #357DED;
  border: 5px solid #fff;
  padding: 5px 20px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}
* body .contentContato {
  width: 80%;
  margin: 0 auto;
}
* body .contentContato h1 {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
}
* body .contentContato .containerButtonWPP {
  margin-top: 30px;
  margin-bottom: 100px;
  background-color: #32d951;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  display: flex;
  align-items: center;
}
* body .contentContato .containerButtonWPP .opacity {
  background-color: transparent;
  width: 100%;
  height: 100%;
}
* body .contentContato .containerButtonWPP a {
  width: 100%;
  height: 100%;
  padding-left: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}
* body .contentContato .containerButtonWPP a .bgImageLogoWPP {
  background: url(../assets/whatsapp.png);
  background-size: cover;
  padding-bottom: 2px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
* body .contentContato .containerButtonWPP a p {
  margin: 0;
  font-weight: 700;
  padding-left: 15px;
}

@keyframes boxAnimation {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@media (max-width: 500px) {
  body {
    font-family: Arial, sans-serif;
    background-color: #1B264F;
    margin: 0;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    color: #fff;
  }
  body .container {
    display: flex;
    height: auto;
    width: 100vw;
    flex-direction: column;
    background-color: #1B264F;
    margin: 20px auto;
    border-radius: 50px;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 0;
  }
  body .container .content {
    max-width: 500px;
    width: 100%;
    background-color: #1B264F;
    padding: 30px;
    border-radius: 0px;
    box-shadow: none;
    margin: auto;
  }
  body .container .content h1 {
    text-align: center;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
  }
  body .container .content label {
    font-weight: bold;
    margin-top: 10px;
    font-size: 14px;
    display: block;
  }
  body .container .content .inputFlex {
    display: flex;
    margin-bottom: 20px;
  }
  body .container .content .inputFlex #valueVencimento {
    background-color: transparent;
    border: none;
    padding: 0px;
    border: none;
    color: #fff;
  }
  body .container .content .inputFlex #valueVencimento:focus {
    color: #777777;
  }
  body .container .content .inputFlex input {
    background-color: #1B264F;
    width: 100%;
    padding: 8px;
    padding-bottom: 4px;
    padding-top: 13px;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    color: #ffffff;
  }
  body .container .content .inputFlex input:focus {
    color: #ffffff;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  body .container .content .inputFlex span {
    padding: 14.5px 0 4px;
    border-bottom: 1px solid #ccc;
    height: -moz-fit-content;
    height: fit-content;
    width: 30%;
    text-align: right;
  }
  body .container .content .boxButton {
    width: 100%;
  }
  body .container .content .boxButton button {
    width: 100%;
    padding: 10px;
    background-color: #357DED;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  }
  body .container .content .boxButton button:hover {
    background-color: #205ab6;
  }
  body .result {
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
  }
  body .result .card {
    box-shadow: 10px 15px 36px -4px rgba(0, 0, 0, 0.75);
    color: #1B264F;
    background-color: #fff;
    border: 5px solid #357DED;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
  }
  body .result .card .cardHeader button {
    border-radius: 20px;
    background-color: none;
    border: none;
    padding: 0;
  }
  body .result .card .cardHeader button h3 {
    font-size: 20px;
    margin: 0;
  }
  body .result .card p {
    margin: 0px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
  }
  body .result .card p span {
    font-weight: 800;
  }
  body .result .card .textTotalLiquido {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 800;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  body .result .card .textValorTotalLiquido {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 6px 10px;
    font-weight: 800;
    text-align: center;
    border-radius: 5px;
    width: 100%;
  }
  body .result .best {
    color: #1B264F;
    background-color: #357DED;
    border: 5px solid #fff;
    padding: 5px 20px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  body .contentContato {
    width: 80%;
    margin: 0 auto;
  }
  body .contentContato h1 {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
  }
  body .contentContato .containerButtonWPP {
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: #32d951;
    border-radius: 10px;
  }
  body .contentContato .containerButtonWPP a {
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  body .contentContato .containerButtonWPP a img {
    border-radius: 10px;
    width: 50px;
  }
  body .contentContato .containerButtonWPP a p {
    margin: 0;
    font-weight: 700;
    padding-left: 15px;
  }
}/*# sourceMappingURL=calcule.module.css.map */