* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  
  
  body {
      font-family: Arial, sans-serif;
      background-color: #d5dfff;
      margin: 0;
      height: 100vh;
      width: auto;
      color: #fff;
      display: flex;
      flex-direction: column;
      
      
      .container {
        display: flex;    
        height: 100%;
        background-color: #1B264F;
        width: 80%;
        margin: 100px auto;
        border-radius: 50px;
        padding: 50px 0;
  
        .content {
          max-width: 500px;
          width: 100%;
          background-color: #162c7c;
          padding: 30px;
          border-radius: 30px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          margin: auto;
          color: #fff;
          h1 {
            text-align: center;
            margin: 0;
            margin-top: 20px;
            margin-bottom: 40px;
            font-size: 30px;
          }
          .containerInputDividido{
              justify-content: space-between;
              display: flex;
              
            }
          .contentInputMetade{
            width: 45%;
            .inputFlex {
              input {
                width: 50%;
              }
              span {
                width: 50%;
              }
            }
          }
          label {
          font-weight: bold;
          margin-top: 10px;
          font-size: 14px;
          display: block;
          }
          .inputFlex {
            display: flex;
            margin-bottom: 20px;
            #valueVencimento {
              background-color: transparent;
              border: none;
              padding: 0px;
              border: none;
              color: #fff;
            }
            #valueVencimento:focus {
              color: #777777;
            }
  
            input {
              background-color: #162c7c;
              width: 100%;
              padding: 8px;
              padding-bottom: 4px;
              padding-top: 13px;
              font-size: 15px;
              border: none;
              border-bottom: 1px solid #ccc;
              border-radius: 0px;
              color: #ffffff;
  
            }
            input:focus {
              color: #ffffff;
              box-shadow: 0 0 0 0;
              border: 0 none;
              outline: 0;
              border: none;
              border-bottom: 1px solid #ccc;
            }
            span {
              padding: 14.50px 0 4px;
              border-bottom: 1px solid #ccc;
              height: fit-content;
              width: 25%;
              text-align: right;
            }

          }
          .boxButton {
            width: 100%;
            margin: 20px auto;
            button {
              box-shadow: 20px 20px 60px -15px rgba(0,0,0,0.75);
              width: 100%;
              padding: 10px;
              background-color: #357DED;
              color: white;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              font-size: 16px;
              font-weight: 600;
            }
            button:hover {
              background-color: #205ab6;
            }
          }
        }
      }
      .content {

      
        .result {
          padding: 10px;
          border-radius: 4px;
          margin-top: 15px;
          
          .card {
            box-shadow: 10px 15px 36px -4px rgba(0,0,0,0.75);
            opacity: 0;
            color: #1B264F;
            background-color: #fff;
            border: 5px solid #357DED;
            margin-bottom: 20px;
            border-radius: 20px;
            padding: 20px;
            animation: boxAnimation 2s ease forwards;
            transform: translateX(250px);
            transition: opacity 2s ease, transform 2s ease;
        
            /* Para cada card, adicione um delay crescente */
            &:nth-child(1) {
              animation-delay: 0s;
            }
        
            &:nth-child(2) {
              animation-delay: 0.3s;
            }
        
            &:nth-child(3) {
              animation-delay: 0.6s;
            }        
            
            .cardHeader {
              border: none;
              padding: 0;
              button {
                border-radius: 20px;
                background-color: #fff;
                border-color: #fff;
                box-shadow: none;
                padding: 0;


                h3 {
                  font-size: 20px;
                  margin: 0;
                  font-weight: 800;
                }
              }
            }
            .cardBody {
              padding: 30px 0 10px;           
            }
            .sectionValueLiquid {
              margin: 0px 20px ;
            }

            p {
              margin: 0px;
              margin-bottom: 5px;
              font-weight: 600;
              font-size: 16px;
              span {
                font-weight: 800;
              }
            }
            .textTotalLiquido {
              color: rgb(0, 0, 0);
              font-size: 14px;
              font-weight: 800;
              width: 100%;
              margin-bottom: 0px;
              margin-top: 10px;

            }
            .textValorTotalLiquido {
              color: rgb(255, 255, 255);
              font-size: 20px;
              padding: 6px 10px;
              font-weight: 800;
              text-align: center;
              border-radius: 5px;
              width: 100%;
            }
          }
          .card.visible {
            opacity: 1;
            transform: translateX(0);
          }
          .best {
            color: #1B264F;
            background-color: #357DED;
            border: 5px solid #fff;
            padding: 5px 20px 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            
          }
        }
      }
      .contentContato {

        width: 80%;
        margin: 0 auto;
        h1 {
          width: 100%;
          margin: 0;
          margin-bottom: 20px;
          font-size: 40px;
          font-weight: 700;
          text-align: left;
        }
        .containerButtonWPP {
          margin-top: 30px;
          margin-bottom: 100px;
          background-color: #32d951;
          border-radius: 10px;
          width: 300px;
          height: 60px;
          display: flex;
          align-items: center;
          
          .opacity {
            background-color: transparent;            
            width: 100%;
            height: 100%;

          }
          
          a {
            width: 100%;
            height: 100%;
            padding-left: 5px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
            .bgImageLogoWPP {
              background: url(../assets/whatsapp.png) ;
              background-size: cover;
              padding-bottom: 2px;
              border-radius: 50%;
              height: 50px;
              width: 50px;
            }
            p {
              margin: 0;
              font-weight: 700;
              padding-left: 15px
            }
          }
        }
      }
    }
  
  }

  @keyframes boxAnimation {
    0% {
      opacity: 0;
      transform: translateX(250px);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media (max-width:500px) {
    
    body {
        font-family: Arial, sans-serif;
        background-color: #1B264F;
        margin: 0;
        padding: 0px;
        height: 100vh;
        width: 100vw;
        color: #fff;
    
        
        .container {
          display: flex;
          height: auto;
          width: 100vw;
          flex-direction: column;
          background-color: #1B264F;
          margin: 20px auto;
          border-radius: 50px;
          margin-top: 0;
          padding-top: 10px;
          padding-bottom: 0;
    
  
            .content {
              max-width: 500px;
              width: 100%;
              background-color: #1B264F;
              padding: 30px;
              border-radius: 0px;
              box-shadow: none;
              margin: auto;
            h1 {
              text-align: center;
              margin: 0;
              margin-top: 20px;
              margin-bottom: 40px;
              font-size: 30px;
            }
            label {
              font-weight: bold;
              margin-top: 10px;
              font-size: 14px;
              display: block;
            }
            .inputFlex {
              display: flex;
              margin-bottom: 20px;
              #valueVencimento {
                background-color: transparent;
                border: none;
                padding: 0px;
                border: none;
                color: #fff;
              }
              #valueVencimento:focus {
                color: #777777;
              }
    
              input {
                  background-color: #1B264F;
                  width: 100%;
                  padding: 8px;
                  padding-bottom: 4px;
                  padding-top: 13px;
                  font-size: 15px;
                  border: none;
                  border-bottom: 1px solid #ccc;
                  border-radius: 0px;
                  color: #ffffff;
                }
              select {
                background-color: transparent;
                color: #fff;
                border: none;
                border-bottom: 1px solid #ccc;
                option {
                  color: #fff;
                  background-color: #1B264F;
                  border: none;
                  outline: none;
                  border-radius: none;
                }
                &:focus {
                  border: none;
                  box-shadow: none;
                }

              }
              input:focus {
                color: #ffffff;
                box-shadow: 0 0 0 0;
                border: 0 none;
                outline: 0;
                border: none;
                border-bottom: 1px solid #ccc;
              }
              span {
                padding: 14.50px 0 4px;
                border-bottom: 1px solid #ccc;
                height: fit-content;
                width: 30%;
                text-align: right;
              }
            }
            .boxButton {
              width: 100%;
              button {
                width: 100%;
                padding: 10px;
                background-color: #357DED;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
                font-weight: 600;
              }
              button:hover {
                background-color: #205ab6;
              }
            }
          }
        }
        .result {
          padding: 10px;
          border-radius: 4px;
          margin-top: 15px;
          
          .card {
            box-shadow: 10px 15px 36px -4px rgba(0,0,0,0.75);
            color: #1B264F;
            background-color: #fff;
            border: 5px solid #357DED;
            margin-bottom: 20px;
            border-radius: 20px;
            padding: 20px;
            .cardHeader {
              button {
                border-radius: 20px;
                background-color: none;
                border: none;
                padding: 0;
                h3 {
                  font-size: 20px;
                  margin: 0;
                }
              }
            }
            p {
              margin: 0px;
              margin-bottom: 5px;
              font-weight: 600;
              font-size: 16px;
              span {
                font-weight: 800;
              }
            }
            .textTotalLiquido {
              color: rgb(0, 0, 0);
              font-size: 14px;
              font-weight: 800;
              width: 100%;
              margin-bottom: 0px;
              margin-top: 10px;
  
            }
            .textValorTotalLiquido {
              color: rgb(255, 255, 255);
              font-size: 20px;
              padding: 6px 10px;
              font-weight: 800;
              text-align: center;
              border-radius: 5px;
              width: 100%;
            }
          }
          .best {
            color: #1B264F;
            background-color: #357DED;
            border: 5px solid #fff;
            padding: 5px 20px 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            
          }
        }

        .contentContato {
          width: 80%;
          margin: 0 auto;
          h1 {
            width: 100%;
            margin: 0;
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 700;
            text-align: left;
          }
          .containerButtonWPP {
            margin-top: 30px;
            margin-bottom: 100px;
            background-color: #32d951;
            border-radius: 10px;
            a {
              border-radius: 10px;
              display: flex;
              align-items: center;
              text-decoration: none;
              color: white;
              img {
                border-radius: 10px;
                width: 50px;
              }
              p {
                margin: 0;
                font-weight: 700;
                padding-left: 15px
              }
            }
          }
        }
      }
    
    }
  