
.containerHeader {
    background-color: red;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .standardText {
        font-size: 40px;
        text-align: center;

    }
}